.pf1.sheet .roll-bonuses input[type=text] {
    background-color: rgba(0, 0, 0, .05);
    border: 1px solid #7a7971;
}

/* override pf1 to be important because otherwise this style is overridden by more specific styles
 * if these classes are used in a place they aren't currently being used. (I moved the lock button
 * to be after the Name which already has more specifc `display: block` style)

 * Honestly I'm not sure what's happening here because this shouldn't be working because this is plain css, but it breaks the bad behavior correctly
 */
.pf1.sheet {
    .lockable {
        &.hide-contents {
            >* {
                display: none !important;
            }
        }
    }
}

.versatile-performance-selector td {
    padding-inline: 2px;
}

.versatile-performance-selector td select {
    width: 100%;
}