<div class="form-group">
    <label>{{label}}</label>
    <div class="form-fields">
        <select name="string-selector" id="string-selector">
            {{#select current}}
            {{#each choices}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>