<div class="form-group">
    <label>{{localize 'ckl-roll-bonuses.weapon-focus'}}</label>
    <div class="form-fields">
        <input type="text" value="{{current}}" id="school-cl-offset-formula" placeholder="{{racialDefault}}" />
    </div>
</div>